.achievement {
    font-family: sans-serif;
    font-style: italic;
    h1 {
        text-rendering: optimizeLegibility;
        text-shadow: -20px 1px 20px black;
        text-decoration-color: darkgreen;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-skip: ink;
        margin-bottom: 10px;
        text-align: center;
        font-style: italic;
        font-weight: 700;
    }

    .challeng-him {
		
		button {
			box-shadow: 6px 6px 1px #ccc;
			background: #92d292;
			padding-left: 10px;
			margin-bottom: 20px;
			border-radius: 5px;
			font-size: 25px;
			padding: 20px;
			i {
				padding-right: 10px;
			}
		}
	}
	
	.socializer, .achiever, .default {
		padding: 0;
		
        .achievement-block {
            box-shadow: 2px 2px 0px $gray2;
            border-radius: 5px;
            list-style: none;
            margin: 15px 0;

            .header {
					border-radius: 5px 5px 0 0;
					background: $gray3;
					padding: 10px;
					font-size: 30px;
				.fa {
					color: #b39d1d;
				}
            }

            .content {
                padding: 10px;
            }
        }
    }

	.socializer .achievement-block {
		background-color: $gray1;
	}
	
	.achiever .achievement-block, .default .achievement-block {
		background-color: $gray1;
		
		.content {
			position: relative;
			padding-bottom: 40px;
			
			.challenging {
				border: 4px dashed #c33d3d;
				transform: rotate(28deg);
				background-color: wheat;
				position: absolute;
				border-radius: 3px;
				text-align: center;
				font-weight: bold;
				font-size: 20px;
				color: #c33d3d;
				width: 240px;
				padding: 5px;
				right: 14px;
				top: 1px;
				&.defeated {
					border: 4px dashed green;
					background-color: #dadada;
					color: green;
				}
			}
			
		}
	}
	
	.default .achievement-block {
		background-color: $gray1;
	}
	
	

}

.badge.NewAchievement {
    background-color: red;
    display: initial;
    color: white;
}
