.page-navbar-default-screen {
    margin-top: 105px!important;

    .navbar {
        margin: 0;
    }
}

.card-container-main {
    height: calc(100vh - 215px);
}

.alert-info {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.29);
    text-align: center;
}

/*#textEntryRow {
    width:100%;
    div input {
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.29);
    }
}*/

.sidenav {
    .panel-body {
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.29);
    }
}

.user-interaction-container-row {
    box-shadow: rgba(0, 0, 0, 0.29) 4px 4px 3px;
    display: block;
}




////
@media(max-width: 374px){
    
}
/*//xs*/
@media(min-width: 768px){
    .DivPai {
       position:relative; 
       height: 140px;
    }

    .DivFilho {
        position: fixed;
        width: 220px;
        right: 75px;
    }

}
@media (max-width: 767px) {

}
/*//sm*/
/*@media (min-width: 769px) and (max-width: 992px) {*/
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px)  {

}

///
/*Separação por categorias*/
/*.Achiever {
    &.aluno {
        #cardContainer {
            background-color: red;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: green;
        }
    }
}
.Dynamic {
    &.aluno {
        #cardContainer {
            background-color: blue;
        }        
    }
    &.teacher {
        #cardContainer {
            background-color: yellow;
        }
    }
}
.Socializer {
    &.aluno {
        #cardContainer {
            background-color: brown;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: gray;
        }
    }
}
.Imersive {
    &.aluno {
        #cardContainer {
            background-color: purple;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: deepskyblue;
        }
    }
}
.Default {
    &.aluno {
        #textEntryRow {
            display: table-cell;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: pink;
        }
    }
}*/

/*.aluno #textEntryRow, .teacher #textEntryRow {
    display: table-cell;
}*/