
/*  Forms */
fieldset {
    background: #ffffff;
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    margin: 20px 0 0px 0;
    padding: 25px;
    position: relative;
}
fieldset legend {
    background: inherit;

    color: #007AFF;
    font-size: 15px;
    left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -12px;
    font-weight: 400;
    width: auto !important;
    border: none !important;
}

.game-on-opt-main {
    background-color: #0f8fd4;
    border-radius: 5px;
    padding: 1px;
    color: white;
    margin: 15px;
}

.GameOnOpt {
    
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 28px;
    margin-right: 14px;
    font-weight: 600;
}

fildset ul li {
    padding-top: 10px;
}

/*#UserInteraction .false {
    position: absolute;
    bottom: 117px;
}
#UserInteraction .true {
    position: absolute;
    bottom: 35px;
}*/
.PositionUI {
    position: absolute;
    bottom: -55px;
    z-index: 999;
}
.PositionUI.true {
    /*position: absolute;*/
/*    bottom: 41px;*/
 
}

.PositionUI.true.student {
    bottom: -75px;        
}

.PositionUI.true.teacher {
    bottom: -3px;        
}
/*Game on Cardjs.*/


/*leaderboard*/
.board li{
    padding: 10px;
    color: black;
    font-weight: 700;
    margin: 0px;
    background-color: #f1f1f1;
    box-shadow: inset 0 0 5px 1px black;
    text-shadow: 0 0 20px #7e8b0b;
    border-radius: 6px;
}
.position{
    color: red;
    font-size: x-large;
    font-variant: ordinal;
    font-weight: 700;
    text-shadow: 0 0 1px black;
    text-decoration: underline;
    text-decoration-color: red;

}
.panel.panel-default{
    border-radius: 10px;
    font-weight: 900;
}
.board li.isTheActive {
    background-color: rgba(255, 182, 0, 0.71);
    box-shadow: inset 0 0 20px 4px black;
}


#textQuestion {
    text-align: center
}


/**/

/* instruction*/
p .instruction-title{
    font-weight: 600;
}
p .instruction-text{

}

scores.progress.priority{
    margin-top: 5px;
    height: 30px;
}

/*Standard - End*/

/*Screens - Begin*/
@media(max-width: 374px){
    .progress.priority{
        margin-top: 40px;
        height: 20px;
        width: 100%;
        margin: 0;
    }
}
/*//xs*/
@media(min-width: 768px){
    .CardScores.nav.navbar-nav {
        width: 100%;
    }
/*    .navbar-header.logo {
        width: 140px;
    }*/
}

@media (max-width: 767px) {
    
/*    .navbar-header.logo {
        width: 100%;
    }*/
    
    /* Margin navbar*/
    .sign-in-o-auth-screen {
        margin-top: 51px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .page-navbar-default-screen{
        margin-top: 108px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .page-navbar-instruction{
        margin-top: 178px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }

    .hide-when-mobile {
        display: none;
    }


    /*    .sign-in-o-auth-screen .navbar .title {
            display: none;
        }*/
    /*    .navbar .title {
            display: none;
        }*/
    .sound-img {
        width: 32px;
        height: 32px;
    }
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
        border-radius: 3px;
    }
    #textQuestion {
        /*font-size: 100%;*/
        text-align: center
    }

    .title {
        display: none;
    }
}
/*//sm*/
/*@media (min-width: 769px) and (max-width: 992px) {*/
@media (min-width: 768px) and (max-width: 991px) {
    // .board-div {
    //     padding-top: 40px;
    // }
    
    .btn {
        padding: 6px 5px;
    }

    /* Margin navbar*/
    .page-navbar-default-screen{
        margin-top: 96px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .page-navbar-instruction{
        margin-top: 160px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .sign-in-o-auth-screen {
        margin-top: 51px;
        /*border: 1px solid red;*/
        /*background-color: #cbfbd3;*/
    }


    .sign-in-o-auth-screen .navbar {
        color: white;
        font-size: 28px;

    }
    /*    .navbar .title {
            display: none;
        }
        .title {
            display: none;
        }*/
    .hide-when-mobile {
        display: none;
    }

    .sound-img {
        width: 100px;
        height: 100px;
    }
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}

/*//md*/
/*@media (min-width: 993px) {*/
@media (min-width: 992px) {
    /* Margin navbar*/
    .page-navbar-default-screen{
        margin-top: 136px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .page-navbar-instruction{
        margin-top: 96px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .sign-in-o-auth-screen {
        margin-top: 51px;
        /*border: 1px solid red;*/
        /*background-color: #cbf0fb;*/
    }

    .sound-img {
        width:100px;
        height:100px;
    }
    .btn-responsive {
        padding: inherit;
        line-height: inherit;
    }
}
/*//lg*/
@media (min-width: 1200px) {
    /* Margin navbar*/
    .page-navbar-default-screen{
        margin-top: 136px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
    .sign-in-o-auth-screen {
        margin-top: 51px;
        /*border: 1px solid red;*/
        /*background-color: #fbcbfb;*/
    }
    .page-navbar-instruction{
        margin-top: 140px;
        /*border: 1px solid red;*/
        /*background-color: #cbcdfb;*/
    }
}
/*Screens - End*/








.visible-text,
.visible-text div,
.visible-text p,
.visible-text h1,
.visible-text h2,
.visible-text h3,
.visible-text h4,
.visible-text h5,
.visible-text h6,
.visible-text th,
.visible-text td
.visible-text button {
    color: #000;
}


ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -15px;
}
ul.dashed > li:before {
    content: "-  ";
    text-indent: -15px;
    font-weight: bold;
}

#cardQuestionImg {
    width:auto;
    height:340px; /* Height is expected to be changed: see index.js */
}

/*#signUpButton {
    background: #118C4E;
}*/

#audio {
    width: 100%;
}

img {
    display: block;
    margin: auto;
}


.form-group {
    margin-bottom: 8px;
}

legend {
    color: #000000;

    font-size: 28px;
    border-color: #C1E1A6;
}

.stimButton {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis; /*Changed to keep text from overflowing outside of the button*/
}

.form-control {
    border-radius: 0;
}

.panel, .panel-heading, .panel-body {
    border-radius: 0;
}

.center-fill-parent {
    width: 100%;
    margin: auto;
}

.multipleChoiceButton {
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-center * {
    text-align: center;
}

.modal {
    background-color: #C1E1A6;

    color: #000000;
}

.switchButton {
    background: #118C4E;
    color: white;
    font-size: 20px;
}

.wrapper {
    text-align: left;
}



.user-admin-table th,
.user-admin-table td {
    white-space: nowrap;
}
