
.summary {
    width: 90%;
    margin: 0 auto;
}

.SamImage {
    width: 80%;
    margin: 0 auto;
}

.SamImage .SamImg {
    width: 100%!important;
}

.SamImage .likertItens {
    width: 92%;
    padding: 0;
    margin: 0 auto;
}

.SamImage .likertItens .item {
    list-style-type:none;
    float: left;
    width: 11%;
}

.SamImage .likertItens .item ul {
    list-style-type:none;
    padding: 0;
}

.SamImage .likertItens .item ul li {
    text-align: center;
}

.sessionInfo {
    padding: 0;
}

.sessionInfo ul {
    padding-left: 20px;
}

.sessionInfo ul li{
    text-align: left;
}
.sessionInfo span.badge{
    background-color: #dba00d;
}
.SamAssessmentSession{

}
.AssessmentBlock {
    margin-bottom: 20px;
    background: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
}
.AssessmentQuestion {
    border-radius: 5px 5px 0 0;
    margin-bottom: 18px;
    background: #0f8fd4;
    padding: 5px;
    color: white;
}

.AssessmentQuestion p {
    margin: 0;
}

.form-group.openNote {
    margin: 5px 20px 5px 20px;
}


.resumo-sessao {
    padding: 1px 10px 15px 10px;
    background-color: white;
    border-radius: 5px;
}