/* Div */

.scores {    
    margin-right: -20px;
    .badge {
        background-color: #fff;
        color: #7e2eb8;
    }
}
.scores div.pbar{
    height: 26px;
}

.scores div.Painels {
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
    margin: -2px 5px 7px 5px;
    background: #8336bb;
    border-radius: 4px;
    padding: 2px 10px;
    color: #ffffff;
    float: right;
}

.CardScores div.Painels {
    background: rgb(142, 9, 119);
    border: 3px dashed #ede4e4;
    border-color: #ffed01;
    border-radius: 4px;
    float: right;
    margin: 5px;
}
