

div#fields {
    margin-top: 50px;
    margin-bottom:50px;   
}

div .LessonContent {
    margin-top: 50px;   
    margin-bottom:50px;  
    font-size: xx-large;
}

div .study-card{
    margin: 5px;
    border-radius: 5px;
    &:nth-child(odd) {
        background-color: #d5d6fb;
    }
    &:nth-child(even) {
        background-color: #d2e7f1;
    }
}

.select-lesson select {
    border-radius: 3px;
    padding: 5px;
    width: 90%;
}