//para chamar o mixin, usar dentro do css: @include funcao();
//@mixin button-login() { .button-login { @include buttonLogin(); } }

//Directives - Componentes
@mixin button-standard {
	@include user-select();
	display: inline-flex;
	white-space: nowrap;
	position: relative;
	border-radius: 4px;
	color: $gray-dark;
	font-size: 14px;
	padding: 0 15px;
	min-width: 38px;
	outline: none;
	height: 38px;
}

@mixin floating-plus-button() {
	@include box-shadow(4px, 4px, 6px, rgba(0,93,127,.22));
	background-repeat: no-repeat;
	background-color: $blue;
	vertical-align: middle;
	display: inline-block;
	text-indent: -9999em;
	margin: 0 20px 0 0;
	border-radius: 50%;
	overflow: hidden;
	outline: none;
	height: 70px;
	width: 70px;
	border: 0;
}

//Visual
@mixin user-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin transition($ms) {
	-webkit-transition: $ms ease all;
	-moz-transition: $ms ease all;
	-o-transition: $ms ease all;
	-ms-transition: $ms ease all;
	transition: $ms ease all;
}

@mixin transform($value) {
	-webkit-transform: rotate($value);
	-moz-transform: rotate($value);
	-ms-transform: rotate($value);
	-o-transform: rotate($value);
	transform: rotate($value);
}

@mixin box-radius ($value) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

//@include box-shadow(0 3px 0 0 rgba(0,51,102,.15));
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		//-webkit-box-shadow:inset $top $left $blur 0 $color;
		//-moz-box-shadow:inset $top $left $blur 0 $color;
		box-shadow: inset $top $left $blur 0 $color;
	}
	@else {
		//-webkit-box-shadow: $top $left $blur 0 $color;
		//-moz-box-shadow: $top $left $blur 0 $color;
		box-shadow: $top $left $blur 0 $color;
	}
}
