// Fonts
$font: 'Lato', 'Helvetica', 'Arial', sans-serif;

// Cores
$white: #ffffff;
$black: #000000;
$gray1: #eeeeee;
$gray2: #dddddd;
$gray3: #cccccc;

$text-color:   #333333;
$border-color: #ccccda;
