.btn {
    white-space:normal;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}
    
.version-1 {
    .btn {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 0.6);
        color: #000000;
        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
}
    
.version-2 {
    .btn {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
        background-color: #f67f22;
        color: white;
        &:hover {
            background-color: #f67f22;
        }
    }
}
    
.version-3 {
    .btn {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
        background-color: white;
        color: #0f8fd4;
        &:hover {
            background-color: white;
        }
    }
}
    
.version-4 {
    .btn {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
        background-color: #92d292;
        color: #ffffff;
        &:hover {
            background-color: #92d292;
        }
    }
}
    
.version-5 {
    .btn {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
        background-color: #cccccc;
        color: #000000;
        &:hover {
            background-color: #cccccc;
        }
    }
}

.btn-social {
    white-space: nowrap;
}

.btn-social img {
    white-space: nowrap;
    float:left;
}

.btn-social span {
    margin-right: 10px;
    white-space: nowrap;
}

.btn-fix {
    width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}


