body {
    overflow-x: hidden; /*Hide if necessary - Comentar caso necessário*/
    
    font-family: $font;
    background-color: #FAFAFA;
    font-size: 17px;
    color: #000000;

    /*background-color: #C1E1A6;*/
    /* Handle fixed navbars at top and bottom of page */
    /* padding-top: 60px; */
    /*padding-bottom: 60px;*/
}

footer {
    padding-top: 20px;

	img {
        max-height:200px;
        min-width:auto;
        max-width:100%;
        width:auto;
    }
}

.clear-both {
    clear: both;
}

.nobr {
    white-space: nowrap;
}

.supsub {
    vertical-align: -0.55em;
    display: inline-block;
    line-height: 1.35em;
    text-align: left;
    font-size: 70%;
    margin: -9em 0;
}

.hide {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

#mainDiv {
    min-height: calc(110vh - 391px);
    nav {
        box-shadow: 0px 3px 1px rgba(128, 128, 128, 0.3)
    }
}

.container {
    padding: 0;
}

s1 {
    color: white;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.navbar-inverse {
        border: 0;
    background-color: #0f8fd4;

    .navbar-brand {
        color: white;
        font-size: 28px;
    }

    .navbar-nav li a {
        color: white;
        background-color: #000000;
        &:focus {
            color: white;
            background-color: #000000;
        }
    }
}

.menu-buttons li {
    padding-left: 10px;
}