@charset "UTF-8";
.btn {
  white-space: normal;
  font-weight: 600;
  font-size: 16px;
  width: 100%; }

.version-1 .btn {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.6);
  color: #000000; }
  .version-1 .btn:hover {
    background-color: rgba(255, 255, 255, 0.7); }

.version-2 .btn {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #f67f22;
  color: white; }
  .version-2 .btn:hover {
    background-color: #f67f22; }

.version-3 .btn {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: #0f8fd4; }
  .version-3 .btn:hover {
    background-color: white; }

.version-4 .btn {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #92d292;
  color: #ffffff; }
  .version-4 .btn:hover {
    background-color: #92d292; }

.version-5 .btn {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
  color: #000000; }
  .version-5 .btn:hover {
    background-color: #cccccc; }

.btn-social {
  white-space: nowrap; }

.btn-social img {
  white-space: nowrap;
  float: left; }

.btn-social span {
  margin-right: 10px;
  white-space: nowrap; }

.btn-fix {
  width: auto; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block; }

body {
  overflow-x: hidden;
  /*Hide if necessary - Comentar caso necessário*/
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  background-color: #FAFAFA;
  font-size: 17px;
  color: #000000;
  /*background-color: #C1E1A6;*/
  /* Handle fixed navbars at top and bottom of page */
  /* padding-top: 60px; */
  /*padding-bottom: 60px;*/ }

footer {
  padding-top: 20px; }
  footer img {
    max-height: 200px;
    min-width: auto;
    max-width: 100%;
    width: auto; }

.clear-both {
  clear: both; }

.nobr {
  white-space: nowrap; }

.supsub {
  vertical-align: -0.55em;
  display: inline-block;
  line-height: 1.35em;
  text-align: left;
  font-size: 70%;
  margin: -9em 0; }

.hide {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  color: #000000; }

#mainDiv {
  min-height: calc(110vh - 391px); }
  #mainDiv nav {
    box-shadow: 0px 3px 1px rgba(128, 128, 128, 0.3); }

.container {
  padding: 0; }

s1 {
  color: white; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.navbar-inverse {
  border: 0;
  background-color: #0f8fd4; }
  .navbar-inverse .navbar-brand {
    color: white;
    font-size: 28px; }
  .navbar-inverse .navbar-nav li a {
    color: white;
    background-color: #000000; }
    .navbar-inverse .navbar-nav li a:focus {
      color: white;
      background-color: #000000; }

.menu-buttons li {
  padding-left: 10px; }

/* BEGIN CSS for charting */
.graphs {
  position: relative; }

.numeric-cell {
  text-align: right; }

div.show-axis[data-x-axis]::before {
  content: attr(data-x-axis);
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  font-size: 1.45rem;
  color: #000;
  font-weight: bolder; }

div.show-axis[data-y-axis]::after {
  content: attr(data-y-axis);
  position: absolute;
  top: 40%;
  left: -7rem;
  font-size: 1.45rem;
  color: #000;
  text-align: center;
  transform: rotate(-90deg) translateY(50%);
  font-weight: bolder; }

.ct-label {
  fill: #000;
  color: #000;
  font-size: 1.45rem;
  line-height: 1;
  font-weight: bolder; }

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #C40233; }

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: #0087BD; }

.toggled {
  display: none; }

.displayed {
  display: block; }

/* END CSS for charting */
.dropdown-menu {
  background-color: #000000;
  color: white; }

.dropdown-menu > li > a:focus {
  background-color: #000000;
  color: white; }

.dropdown-menu > li > a {
  color: white;
  background-color: #000000; }

.dropdown-menu > li {
  color: white;
  background-color: #000000;
  border-color: black; }

.dropdown-menu body {
  color: white;
  background-color: #000000; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: white;
  background-color: #000000; }

.paired-friend {
  border-radius: 5px;
  background: #f0ad4e;
  position: absolute;
  /*margin-left: 6%;*/
  top: -11px;
  border: 0; }

.paired-friend h4 {
  display: inline-flex;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
  margin: 3px; }

.PairedFriendID {
  font-weight: bold; }

div#DivWaitingMsg h3 {
  border: 1px solid;
  border-radius: 3px;
  background-color: orangered;
  text-align: center;
  font-weight: 700; }

.table {
  border: 1px solid #000000; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #000000;
  border-right-width: 1px;
  border-left-width: 0; }

.achievement {
  font-family: sans-serif;
  font-style: italic; }
  .achievement h1 {
    text-rendering: optimizeLegibility;
    text-shadow: -20px 1px 20px black;
    text-decoration-color: darkgreen;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip: ink;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-weight: 700; }
  .achievement .challeng-him button {
    box-shadow: 6px 6px 1px #ccc;
    background: #92d292;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 25px;
    padding: 20px; }
    .achievement .challeng-him button i {
      padding-right: 10px; }
  .achievement .socializer, .achievement .achiever, .achievement .default {
    padding: 0; }
    .achievement .socializer .achievement-block, .achievement .achiever .achievement-block, .achievement .default .achievement-block {
      box-shadow: 2px 2px 0px #dddddd;
      border-radius: 5px;
      list-style: none;
      margin: 15px 0; }
      .achievement .socializer .achievement-block .header, .achievement .achiever .achievement-block .header, .achievement .default .achievement-block .header {
        border-radius: 5px 5px 0 0;
        background: #cccccc;
        padding: 10px;
        font-size: 30px; }
        .achievement .socializer .achievement-block .header .fa, .achievement .achiever .achievement-block .header .fa, .achievement .default .achievement-block .header .fa {
          color: #b39d1d; }
      .achievement .socializer .achievement-block .content, .achievement .achiever .achievement-block .content, .achievement .default .achievement-block .content {
        padding: 10px; }
  .achievement .socializer .achievement-block {
    background-color: #eeeeee; }
  .achievement .achiever .achievement-block, .achievement .default .achievement-block {
    background-color: #eeeeee; }
    .achievement .achiever .achievement-block .content, .achievement .default .achievement-block .content {
      position: relative;
      padding-bottom: 40px; }
      .achievement .achiever .achievement-block .content .challenging, .achievement .default .achievement-block .content .challenging {
        border: 4px dashed #c33d3d;
        transform: rotate(28deg);
        background-color: wheat;
        position: absolute;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #c33d3d;
        width: 240px;
        padding: 5px;
        right: 14px;
        top: 1px; }
        .achievement .achiever .achievement-block .content .challenging.defeated, .achievement .default .achievement-block .content .challenging.defeated {
          border: 4px dashed green;
          background-color: #dadada;
          color: green; }
  .achievement .default .achievement-block {
    background-color: #eeeeee; }

.badge.NewAchievement {
  background-color: red;
  display: initial;
  color: white; }

.page-navbar-default-screen {
  margin-top: 105px !important; }
  .page-navbar-default-screen .navbar {
    margin: 0; }

.card-container-main {
  height: calc(100vh - 215px); }

.alert-info {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.29);
  text-align: center; }

/*#textEntryRow {
    width:100%;
    div input {
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.29);
    }
}*/
.sidenav .panel-body {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.29); }

.user-interaction-container-row {
  box-shadow: rgba(0, 0, 0, 0.29) 4px 4px 3px;
  display: block; }

/*//xs*/
@media (min-width: 768px) {
  .DivPai {
    position: relative;
    height: 140px; }

  .DivFilho {
    position: fixed;
    width: 220px;
    right: 75px; } }
/*//sm*/
/*@media (min-width: 769px) and (max-width: 992px) {*/
/*Separação por categorias*/
/*.Achiever {
    &.aluno {
        #cardContainer {
            background-color: red;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: green;
        }
    }
}
.Dynamic {
    &.aluno {
        #cardContainer {
            background-color: blue;
        }        
    }
    &.teacher {
        #cardContainer {
            background-color: yellow;
        }
    }
}
.Socializer {
    &.aluno {
        #cardContainer {
            background-color: brown;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: gray;
        }
    }
}
.Imersive {
    &.aluno {
        #cardContainer {
            background-color: purple;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: deepskyblue;
        }
    }
}
.Default {
    &.aluno {
        #textEntryRow {
            display: table-cell;
        }
    }
    &.teacher {
        #cardContainer {
            background-color: pink;
        }
    }
}*/
/*.aluno #textEntryRow, .teacher #textEntryRow {
    display: table-cell;
}*/
/*  Forms */
fieldset {
  background: #ffffff;
  border: 1px solid #e6e8e8;
  border-radius: 5px;
  margin: 20px 0 0px 0;
  padding: 25px;
  position: relative; }

fieldset legend {
  background: inherit;
  color: #007AFF;
  font-size: 15px;
  left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -12px;
  font-weight: 400;
  width: auto !important;
  border: none !important; }

.game-on-opt-main {
  background-color: #0f8fd4;
  border-radius: 5px;
  padding: 1px;
  color: white;
  margin: 15px; }

.GameOnOpt {
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 28px;
  margin-right: 14px;
  font-weight: 600; }

fildset ul li {
  padding-top: 10px; }

/*#UserInteraction .false {
    position: absolute;
    bottom: 117px;
}
#UserInteraction .true {
    position: absolute;
    bottom: 35px;
}*/
.PositionUI {
  position: absolute;
  bottom: -55px;
  z-index: 999; }

.PositionUI.true {
  /*position: absolute;*/
  /*    bottom: 41px;*/ }

.PositionUI.true.student {
  bottom: -75px; }

.PositionUI.true.teacher {
  bottom: -3px; }

/*Game on Cardjs.*/
/*leaderboard*/
.board li {
  padding: 10px;
  color: black;
  font-weight: 700;
  margin: 0px;
  background-color: #f1f1f1;
  box-shadow: inset 0 0 5px 1px black;
  text-shadow: 0 0 20px #7e8b0b;
  border-radius: 6px; }

.position {
  color: red;
  font-size: x-large;
  font-variant: ordinal;
  font-weight: 700;
  text-shadow: 0 0 1px black;
  text-decoration: underline;
  text-decoration-color: red; }

.panel.panel-default {
  border-radius: 10px;
  font-weight: 900; }

.board li.isTheActive {
  background-color: rgba(255, 182, 0, 0.71);
  box-shadow: inset 0 0 20px 4px black; }

#textQuestion {
  text-align: center; }

/**/
/* instruction*/
p .instruction-title {
  font-weight: 600; }

scores.progress.priority {
  margin-top: 5px;
  height: 30px; }

/*Standard - End*/
/*Screens - Begin*/
@media (max-width: 374px) {
  .progress.priority {
    margin-top: 40px;
    height: 20px;
    width: 100%;
    margin: 0; } }
/*//xs*/
@media (min-width: 768px) {
  .CardScores.nav.navbar-nav {
    width: 100%; }

  /*    .navbar-header.logo {
          width: 140px;
      }*/ }
@media (max-width: 767px) {
  /*    .navbar-header.logo {
          width: 100%;
      }*/
  /* Margin navbar*/
  .sign-in-o-auth-screen {
    margin-top: 51px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .page-navbar-default-screen {
    margin-top: 108px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .page-navbar-instruction {
    margin-top: 178px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .hide-when-mobile {
    display: none; }

  /*    .sign-in-o-auth-screen .navbar .title {
          display: none;
      }*/
  /*    .navbar .title {
          display: none;
      }*/
  .sound-img {
    width: 32px;
    height: 32px; }

  .btn-responsive {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
    border-radius: 3px; }

  #textQuestion {
    /*font-size: 100%;*/
    text-align: center; }

  .title {
    display: none; } }
/*//sm*/
/*@media (min-width: 769px) and (max-width: 992px) {*/
@media (min-width: 768px) and (max-width: 991px) {
  .btn {
    padding: 6px 5px; }

  /* Margin navbar*/
  .page-navbar-default-screen {
    margin-top: 96px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .page-navbar-instruction {
    margin-top: 160px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .sign-in-o-auth-screen {
    margin-top: 51px;
    /*border: 1px solid red;*/
    /*background-color: #cbfbd3;*/ }

  .sign-in-o-auth-screen .navbar {
    color: white;
    font-size: 28px; }

  /*    .navbar .title {
          display: none;
      }
      .title {
          display: none;
      }*/
  .hide-when-mobile {
    display: none; }

  .sound-img {
    width: 100px;
    height: 100px; }

  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2; } }
/*//md*/
/*@media (min-width: 993px) {*/
@media (min-width: 992px) {
  /* Margin navbar*/
  .page-navbar-default-screen {
    margin-top: 136px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .page-navbar-instruction {
    margin-top: 96px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .sign-in-o-auth-screen {
    margin-top: 51px;
    /*border: 1px solid red;*/
    /*background-color: #cbf0fb;*/ }

  .sound-img {
    width: 100px;
    height: 100px; }

  .btn-responsive {
    padding: inherit;
    line-height: inherit; } }
/*//lg*/
@media (min-width: 1200px) {
  /* Margin navbar*/
  .page-navbar-default-screen {
    margin-top: 136px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ }

  .sign-in-o-auth-screen {
    margin-top: 51px;
    /*border: 1px solid red;*/
    /*background-color: #fbcbfb;*/ }

  .page-navbar-instruction {
    margin-top: 140px;
    /*border: 1px solid red;*/
    /*background-color: #cbcdfb;*/ } }
/*Screens - End*/
.visible-text,
.visible-text div,
.visible-text p,
.visible-text h1,
.visible-text h2,
.visible-text h3,
.visible-text h4,
.visible-text h5,
.visible-text h6,
.visible-text th,
.visible-text td
.visible-text button {
  color: #000; }

ul {
  margin: 0; }

ul.dashed {
  list-style-type: none; }

ul.dashed > li {
  text-indent: -15px; }

ul.dashed > li:before {
  content: "-  ";
  text-indent: -15px;
  font-weight: bold; }

#cardQuestionImg {
  width: auto;
  height: 340px;
  /* Height is expected to be changed: see index.js */ }

/*#signUpButton {
    background: #118C4E;
}*/
#audio {
  width: 100%; }

img {
  display: block;
  margin: auto; }

.form-group {
  margin-bottom: 8px; }

legend {
  color: #000000;
  font-size: 28px;
  border-color: #C1E1A6; }

.stimButton {
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*Changed to keep text from overflowing outside of the button*/ }

.form-control {
  border-radius: 0; }

.panel, .panel-heading, .panel-body {
  border-radius: 0; }

.center-fill-parent {
  width: 100%;
  margin: auto; }

.multipleChoiceButton {
  min-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px; }

.text-center * {
  text-align: center; }

.modal {
  background-color: #C1E1A6;
  color: #000000; }

.switchButton {
  background: #118C4E;
  color: white;
  font-size: 20px; }

.wrapper {
  text-align: left; }

.user-admin-table th,
.user-admin-table td {
  white-space: nowrap; }

.summary {
  width: 90%;
  margin: 0 auto; }

.SamImage {
  width: 80%;
  margin: 0 auto; }

.SamImage .SamImg {
  width: 100% !important; }

.SamImage .likertItens {
  width: 92%;
  padding: 0;
  margin: 0 auto; }

.SamImage .likertItens .item {
  list-style-type: none;
  float: left;
  width: 11%; }

.SamImage .likertItens .item ul {
  list-style-type: none;
  padding: 0; }

.SamImage .likertItens .item ul li {
  text-align: center; }

.sessionInfo {
  padding: 0; }

.sessionInfo ul {
  padding-left: 20px; }

.sessionInfo ul li {
  text-align: left; }

.sessionInfo span.badge {
  background-color: #dba00d; }

.AssessmentBlock {
  margin-bottom: 20px;
  background: #fff;
  padding-bottom: 10px;
  border-radius: 5px; }

.AssessmentQuestion {
  border-radius: 5px 5px 0 0;
  margin-bottom: 18px;
  background: #0f8fd4;
  padding: 5px;
  color: white; }

.AssessmentQuestion p {
  margin: 0; }

.form-group.openNote {
  margin: 5px 20px 5px 20px; }

.resumo-sessao {
  padding: 1px 10px 15px 10px;
  background-color: white;
  border-radius: 5px; }

/* Div */
.scores {
  margin-right: -20px; }
  .scores .badge {
    background-color: #fff;
    color: #7e2eb8; }

.scores div.pbar {
  height: 26px; }

.scores div.Painels {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  margin: -2px 5px 7px 5px;
  background: #8336bb;
  border-radius: 4px;
  padding: 2px 10px;
  color: #ffffff;
  float: right; }

.CardScores div.Painels {
  background: #8e0977;
  border: 3px dashed #ede4e4;
  border-color: #ffed01;
  border-radius: 4px;
  float: right;
  margin: 5px; }

div#fields {
  margin-top: 50px;
  margin-bottom: 50px; }

div .LessonContent {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: xx-large; }

div .study-card {
  margin: 5px;
  border-radius: 5px; }
  div .study-card:nth-child(odd) {
    background-color: #d5d6fb; }
  div .study-card:nth-child(even) {
    background-color: #d2e7f1; }

.select-lesson select {
  border-radius: 3px;
  padding: 5px;
  width: 90%; }

h2.TextHeader {
  text-align: center; }

.divTitle {
  background-color: #0f8fd4;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  padding: 1px; }

.divTitleTitle {
  color: white; }

/*# sourceMappingURL=main.css.map */
