<head>
    <meta charset="utf-8">
    <title>mofacts_app</title>
    <!-- Using mizzao:bootstrap-3 for bootstrap now <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="/styles/main.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    
</head>

<body >
  {{#Layout template="DefaultLayout"}}
  {{/Layout}}

  <!-- Using mizzao:bootstrap-3 for bootstrap now <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
</body>

<template name="DefaultLayout">
    <div class="{{GamificationProfile}}{{#if isInRole 'admin,teacher'}} teacher {{else}} aluno {{/if}}">
    {{> yield}}
    </div>
</template>
