<template name="AchievementBoard">
    <div class="page-navbar-default-screen" id="mainDiv">
        {{> navBar}}

        <div class="container achievement">
            <div class="row">
                <div class="challeng-him">
                    {{#if ShowCreateAchievment}}
                    <button type="button" id="createAchievement" class="createAchievement button btn"  value="{{DesafioText.btnSuggest}}">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        {{DesafioText.btnSuggest}}                       
                    </button>
                    {{/if}}
                </div>
                <div class="board">
                    <!--
                        change the header according o profile
                        {{#if IsSocializer}}
                    -->
                    <h1>{{DesafioText.closed}}</h1>
                    <!--
                        {{else}}
                            <h1>{{DesafioTexto}} Desbloqueadas</h1>
                        {{/if}}
                    -->
                    <div class="{{DesafioText.kind}}">
                        {{#each achieve in achievementsUnlocked}}
                        <div class="col-md-6">
                            <div class="achievement-block">
                                <div class="header">
                                    {{#if texts.social}}
                                        <i class="fa fa-graduation-cap"></i>
                                    {{else}}
                                        <i class="fa fa-trophy"></i>
                                    {{/if}}
                                    <strong>{{achieve.title}}</strong>
                                </div>
                                <div class="content">
                                    <img src={{achieve.icoUrl}}>
                                    <h4>{{achieve.description}}</h4>
                                    <h5>Condição {{achieve.variable}} {{achieve.operator}}  {{achieve.value}}</h5>
                                    {{achieve.lessonname}}<br />
                                    <div class="challenging defeated">
                                        {{DesafioText.suggestedDone}}{{achieve.createdBy}}
                                    </div>
                                    {{achieve.dateUnlocked}}
                                </div>
                                <!--
                                    {{achieve.Achievment_id}}<br>
                                    {{achieve.unlocked}}<br>
                                    {{achieve.user_id}}<br>
                                    {{achieve._id}}
                                -->
                            </div>
                        </div>
                        {{/each}}
                         <div class="clear-both"></div>
                    </div>
                     <div class="clear-both"></div>
                </div>
                
                 <div class="clear-both"></div>

                <div class="board">
                    <!--
                        change the header according o profile
                        {{#if IsSocializer}}
                    -->
                    <h1>{{DesafioText.aberto}}</h1>
                    <!--
                        {{else}}
                            <h1>{{DesafioTexto}} Bloqueadas</h1>
                        {{/if}}
                    -->
                    <div class="{{DesafioText.kind}}">
                        {{#each achieve in achievementsLocked}}
                        <div class="col-md-6">
                            <div class="achievement-block">
                                <div class="header">
                                    {{#if texts.social}}
                                        <i class="fa fa-graduation-cap"></i>
                                    {{else}}
                                        <i class="fa fa-trophy"></i>
                                    {{/if}}

                                    <strong>{{achieve.title}}</strong>
                                </div>
                                <div class="content">
                                    <img src={{achieve.icoUrl}}>
                                    <h4>{{achieve.description}}</h4>
                                    <h5>Condição {{achieve.variable}} {{achieve.operator}}  {{achieve.value}}</h5>
                                    {{achieve.lessonname}}<br />
                                    <div class="challenging">
                                        {{DesafioText.suggested}}{{achieve.createdBy}}
                                    </div>
                                    {{achieve.dateUnlocked}}
                                </div>
                                <!--
                                    {{achieve.Achievment_id}}<br>
                                    {{achieve.unlocked}}<br>
                                    {{achieve.user_id}}<br>
                                    {{achieve._id}}
                                -->
                            </div>
                        </div>
                        {{/each}}
                        <div class="clear-both"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>

        </div>
    </div>
    {{> footer}}
</template>
