<template name="advancment">
    <div class="board-div DivFilho"> 
        {{#if hasOption}}
        <div class="row content">

            <label class="radio-inline">
                <input class="btnradio" type="radio" name="optradio" id="optRanking" value="leader" checked =   {{showLeaderboard}}>Ranking
            </label>
            <label class="radio-inline">
                <input class="btnradio" type="radio" name="optradio" id="optDesempenho" value="stats"  checked = {{showStatus}} >Desempenho 
            </label>
            <!--  <input class="btnf" type="button" name="btn" id="btnf" value="teste" > -->

        </div> 
        {{/if}}
        {{#if showLeaderboard}}
           {{> leaderBoard}}
        {{else}}
           {{#if showStatus}}
              {{> stats}}
           {{/if}}
        {{/if}}
        <!--{{> Template.dynamic template = showRanking}} -->
        <div class="clear-both"></div>
    </div>
</template>




