<template name="createAchievements">
    <div class="page-navbar-default-screen" id="mainDiv">
        {{> navBar}}

        <div class="container Achievement">
            <div >
                <div >
                    <h2 class="TextHeader">{{DesafioText.header}}</h2>
                </div>
                <div class="formCreateAchievment">
                    <div class="form-group">
                        <span class="input-group-addon">{{DesafioText.placeHolderTitle}}</span>
                        <input type="text" class="form-control" id="title" name="title" placeholder={{DesafioText.placeHolderTitle}}>
                    </div>
                    
                    <div class="form-group">
                        <span class="input-group-addon">{{DesafioText.placeHolderDescription}}</span>
                        <input type="text" class="form-control" id="description" name="description" placeholder={{DesafioText.placeHolderDescription}} >
                    </div>
                    
                    <div class="form-group">
                        <span class="input-group-addon">{{DesafioText.lesson}}</span>
                        <select  class="form-control" name="lessonSelector" id="lessonSelector">
                            <option value="null" selected="true">Para qual módulo deseja aplicar</option>
                            {{#each opt in tdfsOptions}}
                            <option id="tdfOption" value={{opt.filename}} lesson={{opt.lessonname}}> {{opt.lessonname}}
                            </option>                                                                                                               
                            <!--<input type="radio" id="" name="tdf" value = {{opt.lessonname}}>  {{opt.lessonname}}-->
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon">{{DesafioText.variable}}</span>
                        <select  class="form-control" name="variableSelector" id="variableSelector">
                            <option value="null" selected="true">Selecione um tipo de valor </option>
                            {{#each opt in variables}}
                            <option id="variable" name="variable" value = {{opt.value}}>  {{opt.description}} </option>                                          
                            <!--<input type="radio" id="variable" name="variable" value = {{opt.value}}>  {{opt.description}}-->
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon">{{DesafioText.operator}}</span>
                        <select  class="form-control" name="operatorSelector" id="operatorSelector">
                            <option value="null" selected="true">Selecione a condição  </option>
                            {{#each opt in operators}}
                            <option id="operators" name="operators" value = {{opt.value}}>  {{opt.description}}</option> 
                            <!--<input type="radio" id="operators" name="operators" value = {{opt.value}}>  {{opt.description}}-->

                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="input-group-addon">{{DesafioText.placeHolderValue}}</span>
                        <input type="number" class="form-control" id="value" name="value" placeholder={{DesafioText.placeHolderValue}}>                                                     
                    </div>
                   <div class="form-group">
                        <button type="button" class="btn btn-info createAchievement" id="create" name="btnCreate">{{DesafioText.button}}<span> {{DesafioText.custoIco}}</span> <span>{{DesafioText.custo}}</span></button>

                    </div>
                </div>

            </div>

        </div>
    </div>
    {{> footer}}
</template>
