<template name="gamification">
    <div class="page-navbar-default-screen ">
        {{> navBar}}
        <div class="container" >         


            <div><button type="button" id="signUpButton" class="btnjson button btn"  value="btnjson">big test</button></div>

            <!--  {{> advancment}}  -->

            <div class="achievement-block text-center" id="downloadContainer">
                <legend class="text-center">Downloads dos dados</legend>
                <div class="col-md-6">
                    <h4> JSON </h4>
                    <div>
                        <a class='exp-data-link' href="/ExportGamificationData/ExportInfo/json" target='_blank'>ExportInfo - Json</a>                                
                    </div>
                    <div>
                        <a class='exp-data-link' href="/ExportGamificationData/ExportSession/json" target='_blank'>ExportSession - Json</a>                                
                    </div>
                    <div>
                        <a class='exp-data-link' href="/ExportGamificationData/ExportAllRoutes/json" target='_blank'>ExportRoutes - Json</a>                                
                    </div>
                    
                </div>
                 <div class="col-md-6">
                     <h4> CSV </h4>
                    <div>
                        <a class='exp-data-link' href="/ExportGamificationData/ExportInfo/csv" target='_blank'>ExportInfo - CSV</a>                                
                    </div>
                     <div>
                        <a class='exp-data-link' href="/ExportGamificationData/ExportSession/csv" target='_blank'>ExportSession - CSV</a>                                
                    </div>
                    <div>
                        <a class='exp-data-link' href="/ExportGamificationData/ExportAllRoutes/csv" target='_blank'>ExportRoutes - CSV</a>                                
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>






            <!--            {{#each user in information}}
            
                        {{user.name}} <br>        {{user.profileName}}<br>
            
                        {{user.ExternProfile}} <br>
                        {{user.CountSessions}}<br>
                        {{user.Microgamified}}<br> 
                        {{user.NumberSessions}}<br>
                        use : {{user.totalUsage}}<br>
                        {{user.totalCorrect}}<br>
                        {{user.totalQuestions}}<br>
                        {{user.totalWrong}}<br>
                        {{user.meanQuestions}}<br>
                        {{user.meanDuration}}<br>
            
                        {{/each}}-->

            <div id="fields">

                <div class="col-xs-offset2 divTitle">
                    <h1 class="divTitleTitle"> Quer Mudar as Coisas Por Aqui?? (<i class="{{custo.ico}}" style="padding-right: 5px"></i>100) </h1> 
                </div>

                <div class="col-xs-offset-2  ">                    
                    <div >
                        <input type="checkbox" class="switchGameOn" name="switchGameOn" id="switchGameOn" checked={{profile.gameOn}}> 
                        Quer Habilitar o Estudo Pareado com outro Estudante?
                        <!--<p d="PswitchGameOn-hover"> Os pontos adquiridos dependem de ambos acertarem as questões</p>-->
                        <i class="{{custo.ico}}" style="padding-right: 5px"></i>{{custo.value}}
                    </div>
                    <div >
                        <input type="checkbox" class="switchUserScore" name="switchUserScore" id="switchUserScore" checked={{profile.showScore}}> 
                        Gostaria de ver seus Pontos?  <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                    <div >
                        <input type="checkbox" class="switchUserLevel" name="switchUserLevel" id="switchUserLevel" checked={{profile.showLevel}}> 
                        Gostaria de ver o seu nível?  <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                    <div >
                        <input type="checkbox" class="switchUserLeaderboard" name="switchUserLeaderboard" id="switchUserLeaderboard" checked={{profile.showLeaderboard}}> 
                        Quer apresentar o Ranking?  <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                    <div >
                        <input type="checkbox" class="switchUserPersonalStatus" name="switchUserPersonalStatus" id="switchUserPersonalStatus" checked={{profile.showPersonalStatus}}> 
                        Gostaria de acompanhar detalhes do seu desempenho?  <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                    <!--                    <div >
                                            <input type="checkbox" class="switchUserHasOption" name="switchUserHasOption" id="switchUserHasOption" checked={{profile.showHasOption}}> 
                                            Gostaria de alternar entre seu desempenho e seu ranking?
                                        </div>                   -->
                    <div >
                        <input type="checkbox" class="switchShowCallChalange" name="switchShowCallChalange" id="switchShowCallChalange" checked={{profile.showCallChalange}}> 
                        {{DesafioText.btnSuggest}}  <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                    <div >
                        <input type="checkbox" class="switchUserAchievementBoard" name="switchUserAchievementBoard" id="switchUserAchievementBoard" checked={{profile.showAchievementBoard}}> 
                        {{DesafioText.btnAchievement}}  <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                    <div >
                        <input type="checkbox" title="Mantenha a barra cheia para continuar sessão" class="switchShowHealth" name="SwitchShowHealth" id="SwitchShowHealth" checked={{profile.showHealth}}> 
                        Quer exibir sua barra de energia?   <i class={{custo.ico}} style="padding-right: 5px"> </i> {{custo.value}}
                    </div>
                </div>
            </div>                        
        </div>
    </div>
    {{> footer}}
</template>
