<template name="leaderBoard">

    <div class="row content">
         
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ranking</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group board ">
                        {{#each student in students}} 
                        <li class="list-group-item list-group-item-success  leaderboard {{student.isTheActive}}">
                            <span class="position leaderboard">{{student.position}}</span>
                            {{student.username}}
                            <span class="badge leaderboard badge-score">{{student.score}}</span></li>
                               
                <!--<li class="list-group-item studentItem list-group-item-info" id="{{student._id}}" style="background-color: {{student.buttonColor}};"> <span>{{student.username}}</span><span>{{student.score}}</span></li>             
                ID = {{student._id}} <br>
                color = {{student.buttonColor}}<br>
                name = {{student.username}}<br>
                Score {{student.score}} -->
                {{/each}}
            </ul>
        </div>
    </div> </div> 

</template>

<template name="leader">
    <div class="row content">
         <div class="sidenav">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ranking</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">                        
                        <li class="list-group-item list-group-item-info">Fernando<span class="badge">325</span></li>
                        <li class="list-group-item list-group-item-success">Riichiro<span class="badge">25</span></li>
                        <li class="list-group-item list-group-item-info">Seiji<span class="badge">15</span></li>
                        <li class="list-group-item list-group-item-success">Armando<span class="badge">7</span></li>
                        <li class="list-group-item list-group-item-info">Wilmax<span class="badge">3</span></li>
                    </ul>        
                </div>
            </div>
        </div>
    </div>
</template>



