<template name="sessionSummary">
    <div class="page-navbar-default-screen ">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="col-md-1 ">
                        <a class="navbar-brand homeLink "  href="#">MoFaCTS</a>
                    </div>
                </div>  <!-- close header -->
            </div>
        </nav>  <!-- close nav -->

        <div class="container" >         



            <div class="row summary" id="fields">
                <div class="resumo-sessao">
                    <h1 class="test">  Resumo da sua sessão: </h1>                   
                    <div class="sessionInfo col-sm-6">
                        <ul>
                            <li> Disciplina {{sessionInfo.Disciplina}} </li>
                            <ul>
                                <li> cards respondidos:   <span class="badge"> {{sessionInfo.totalQuestions}}</span></li>
                                <li> cards corretos:  <span class="badge"> {{sessionInfo.totalCorrect}} ( {{sessionInfo.percRight}}% )</span> </li>                                                                                            
                                <li> cards errados:  <span class="badge"> {{sessionInfo.totalWrong}} ( {{sessionInfo.percWrong}}%)</span> </li>
                            </ul>
                        </ul>   
                        <div>
                            duração da sessão: {{sessionInfo.duration}}
                        </div>                     
                    </div>   
                    <div class="randImg col-sm-6 hidden-xs">
                        <img src="images/personalidade/{{randImg}}.png" alt=""/>
                    </div>
                    <div class="clear-both"></div>
                </div>                
                <div clas="SamAssessmentSession">
                    <h2> FeedBack da sessão </h2>
                    <div class="AssessmentBlock">
                        <div class="AssessmentQuestion">
                            <p> Olhando a escala e a imagem abaixo o quão satisfeito você ficou nesta sessão</p>
                        </div>
                        <div class="SamImage">                                                            
                            <img class="SamImg" src="images/sam-happiness.png" alt="Satisfação ou Contentamento"/>

                            <div class="likertItens">{{satisfacao}}
                                <div class="item">
                                    <ul>
                                        <li>1</li>
                                        <li><input type="radio" value=1 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>2</li>
                                        <li><input type="radio" value=2 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>3</li>
                                        <li><input type="radio" value=3 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>4</li>
                                        <li><input type="radio" value=4 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>5</li>
                                        <li><input type="radio" value=5 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>6</li>
                                        <li><input type="radio" value=6 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>7</li>
                                        <li><input type="radio" value=7 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>8</li>
                                        <li><input type="radio" value=8 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>9</li>
                                        <li><input type="radio" value=9 name="likertHappiness"></li>
                                    </ul>                                                
                                </div>
                            </div>    
                            <div class="clear-both"></div>
                        </div>                            
                    </div>
                    <div class="AssessmentBlock">
                        <div class="AssessmentQuestion"> {{controle}}
                            <p> Olhando a escala e a imagem abaixo, quanto Controle você sentiu que tinha no sistema </p>
                        </div>
                        <div class="SamImage">

                            <img class="SamImg" src="images/sam-control.png"  alt="Controle"/>

                            <div class="likertItens">
                                <div class="item">
                                    <ul>
                                        <li>1</li>
                                        <li><input type="radio" value=1 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>2</li>
                                        <li><input type="radio" value=2 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>3</li>
                                        <li><input type="radio" value=3 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>4</li>
                                        <li><input type="radio" value=4 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>5</li>
                                        <li><input type="radio" value=5 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>6</li>
                                        <li><input type="radio" value=6 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>7</li>
                                        <li><input type="radio" value=7 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>8</li>
                                        <li><input type="radio" value=8 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>9</li>
                                        <li><input type="radio" value=9 name="likertControl"></li>
                                    </ul>                                                
                                </div>
                            </div>                                
                            <div class="clear-both"></div>
                        </div>
                    </div>
                    <div class="AssessmentBlock">
                        <div class="AssessmentQuestion">
                            <p> Olhando a escala e a imagem abaixo o quão animado ou desanimado você se sentiu ao usar  sistema </p>
                        </div>
                        <div class="SamImage">
                            <img class="SamImg" src="images/sam-arousal.png"  alt="Animação"/>
                            <div class="likertItens">
                                <div class="item">
                                    <ul>
                                        <li>1</li>
                                        <li><input type="radio" value=1 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>2</li>
                                        <li><input type="radio" value=2 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>3</li>
                                        <li><input type="radio" value=3 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>4</li>
                                        <li><input type="radio" value=4 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>5</li>
                                        <li><input type="radio" value=5 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>6</li>
                                        <li><input type="radio" value=6 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>7</li>
                                        <li><input type="radio" value=7 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>8</li>
                                        <li><input type="radio" value=8 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>9</li>
                                        <li><input type="radio" value=9 name="likertArousal"></li>
                                    </ul>                                                
                                </div>
                            </div>                                  
                            <div class="clear-both"></div>
                        </div>                        
                    </div>
                    <div class="AssessmentBlock">
                        <div class="form-group openNote ">
                            <label for="comment">Deixe uma mensagem ou opinião:</label>
                            <textarea class="form-control" rows="5" id="comment">                           
                            </textarea>                                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    
                    <button type="button" id="signUpButton" class="logoutLink button btn btn-primary btn-social  navbar-btn">
                        Deixar meu Feedback e Sair 
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</template>
