<template name="study">
    <div class="page-navbar-default-screen ">
        {{> navBar}}
        <div class="container" >         


            <!--<div><button type="button" id="signUpButton" class="btnjson button btn"  value="btnjson">big test</button></div>-->

            <!--  {{> advancment}}  -->

            <div class="row " id="fields">
                <div class="col-xs-offset-3 col-xs-6  select-lesson text-center tdfselector">                    
                    <select name="tdfSelector" id="tdfSelector">
                        <option value="null" style="background-color:#4c8fb3" selected="true">
                            Selecione o Módulo que deseja consultar 
                        </option>
                        {{#each item in tdfs}}
                       

                        <option id="tdfOption" value={{item.fileName}}> {{item.description}} - {{item.custoIco}} {{item.custo}} </option>                       
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="LessonContent">
                {{#each card in contentLesson}}
                <div class="study-card">
                    {{#each question in card.question}}
                    <div class="Questions {{formatDivs.cardQuestion}} {{card.cardNumber}}">
                        {{question }}
                    </div>
                    {{/each}}
                    
                    {{#each answer in card.answer}}
                    <div class="Answers {{formatDivs.cardAnswer}} {{card.cardNumber}}">
                        {{answer}}
                    </div>
                    {{/each}}
                    <div class="clear-both"></div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{> footer}}
</template>
