

<template name="stats">
    <div class="row content">
         <div class="sidenav">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sua performance:</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group board">
                                           
                        {{#each info in user}} 
                  
                        <li class="list-group-item list-group-item-success personalStatus">{{info.indice}}<span class="personalStatus badge">{{info.valor}}</span></li>
                        <!--<li class="list-group-item list-group-item-success">Acertos<span class="badge">25</span></li>
                        <li class="list-group-item list-group-item-info">Cartões Respondidos<span class="badge">25</span></li>
                        <li class="list-group-item list-group-item-info">Tempo médio (s)<span class="badge">1.2</span></li>
                        <li class="list-group-item list-group-item-success">% de acertos<span class="badge">100</span></li>                        
                        -->
                        {{/each}}
                    </ul>        
                </div>
            </div>
        </div>
    </div>
</template>


