<template name="about">
    <!-- Notice that this should be embedded in a bootstrap container div -->
    <div>
        <!--<legend>Mobile Fact and Concept Training System (MoFaCTS):</legend>
        <ul class="dashed">
            <li><b>is</b> a system in development that helps students learn information such as facts or concepts.</li>
            <li><b>is</b> a browser-based web-application, with source code available <a href="https://bitbucket.org/ppavlik/mofacts">here</a>.</li>
            <li><b>is</b> now available with multiple sample content modules.</li>
            <li><b>uses</b> a quantitative model of your performance to select an item to learn that will optimally balance the challenge relative to your current ability.</li>
            <li><b>tracks</b> both prior performance (i.e. past successes and failures) and memory factors, such as recency, frequency, spacing and forgetting.</li>
            <li><b>saves</b> all of your results to track your learning over multiple sessions.</li>
            <li><b>was designed</b> by Dr. Philip Pavlik, and many other important collaborators who have been his co-authors, listed <a href="https://www.researchgate.net/profile/Phil_Pavlik_Jr/publications">here</a>.</li>
            <li><b>was implemented</b> by a series of talented programmers, who are given credit <a href="http://optimallearning.org/mobile-fact-and-concept-training-system-mofacts-beta.html">here</a>.</li>
            <li><b>can be used</b> to run experiments for collecting controlled data, which is used to create and refine the quantitative model.</li>
            <li><b>exports</b> data to a convenient format for sharing or analysis <a href="https://datashop.memphis.edu/">here</a>.</li>
            <li><b>was developed</b> over multiple years with funding from the <a href="http://www.memphis.edu/iis/">IIS</a>, IES: DOED, NSF, and R. Zdrojkowski.</li>
            <li><b>is explained</b> in this <a href="/ITS2016final.pdf">paper</a> to be presented at the 2016 Intelligent Tutoring Systems Conference.</li>
        </ul>
        <legend>Mobile Fact and Concept Training System (MoFaCTS):</legend>-->
        <fieldset>
            <legend> Sistema de Treinamento Móvel de Fatos e Conceitos (MoFaCTS): </legend>
            <ul>
                <li><b>é</b> um sitema em desenvolvimento que ajuda estudantes a aprender informações como fatos ou conceitos.</li>
                <li><b>é</b> uma aplicação web baseada em browser, de código aberto e disponível <a href="https://bitbucket.org/ppavlik/mofacts">aqui</a>.</li>
                <li><b>está</b> disponível com multiplas amostras de conteúdo.</li>
                <li><b>usa</b> um modelo quantitativo da sua performance para selecionar o item a ser aprendido que irá melhor se adequar ao seu nível de habilidades otimizando seus desafios.</li>
                <li><b>acompanha</b> suas performances anteriores (i.e. sucessos e falhas passadas) e fatores de memória, como a recência, frequência, espaçamento e esquecimento.</li>
                <li><b>guarda</b> todos seus resultados para acompanhar seu aprendizado através de multiplas sessões.</li>
                <li><b>foi desenvolvido</b> pelo Dr. Philip Pavlik, e muitos outros importantes colaboratores que tem sido seus coautores, listaddos <a href="https://www.researchgate.net/profile/Phil_Pavlik_Jr/publications">aqui</a>.</li>
                <li><b>foi implementado</b> por uma série de talentosos programadores, que tem seu crédito <a href="http://optimallearning.org/mobile-fact-and-concept-training-system-mofacts-beta.html">aqui</a>.</li>
                <li><b>pode ser utilizado</b> para executar experimentos para coleta de dados controlados, que são utilizados para criar e refinar o modelo quantitativos.</li>
                <li><b>exporta</b> dados em um formato conveniente para  compartilhamento e análise <a href="https://datashop.memphis.edu/">aqui</a>.</li>
                <li><b>foi desenvolvido</b> por muitos anos com o financiamento do <a href="http://www.memphis.edu/iis/">IIS</a>, IES: DOED, NSF, e R. Zdrojkowski.</li>
                <li><b>é explicado</b> neste <a href="/ITS2016final.pdf">artigo</a> apresentado em 2016  na Conferência Internacional de Sistemas Tutores Inteligentes.</li>
                <li><b>foi traduzido</b> pelo Laboratório de Computação Aplicada a Educação (CAED) da Universidade de São Paulo (USP) </li>
                <li><b>e foi gamificado</b> pelo aluno de doutorado MS. Fernando Andrade e tem o código fonte gamificado e traduzido disponível em <a href="https://fernando_heb@bitbucket.org/fernando_heb/mofacts-br.git">aqui</a></li>                
            </ul>
        </fieldset>
    </div>
</template>




