<template name="card">

    {{#if background.show}}
    <style media="screen">
        .card-container-main {
            background: url("{{background.src}}") no-repeat center;       
            box-shadow: 2px 2px 1px gray;
            background-size: cover;
            padding: 20px 0 0 0;
            margin: 105px 0 0 0;
            width: 100%;
        }

    </style>
    {{/if}}
    <!--  background: url("images/domains/HiraganaOptim_xml/1.jpg") no-repeat center;-->

    <!-- {{> navBarCard}}  Fernando: Facing problem to use the leavePage Function-->
    <div class="page-navbar-default-screen" id="mainDiv">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                <!--Little Button - Botãozinho-->
                <div class="navbar-header logo">
                    <div class="row">
                        <div class="col-xs-8 col-md-1">
                            <a class="navbar-brand homeLink " href="#">MoFaCTS</a>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true" style="right: 10px;">                    
                                <span class="sr-only">Navegação</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                            </button>	        
                        </div>
                    </div>
                </div>

                <div class="collapse navbar-collapse " id="myNavbar">

                    <div class="nav navbar-nav navbar-right" style="margin-right: 0;">

                        <ul class="nav navbar-nav navbar-left menu-buttons version-2">
                            <li>
                                <button type="button" id="signInButton" class="homeLink button btn-social navbar-btn btn">
                                    <i class="fa fa-home" style="padding-right: 5px"> </i>  Voltar
                                </button>
                            </li>


                            {{#if gamified}}
                            <li>
                                <button type="button" id="signInButton" class="studyLink button btn-social navbar-btn btn">
                                    <i class="fa fa-book" style="padding-right: 5px"> </i> Referência
                                </button>
                            </li>
                            {{/if}}
                            {{#if showAchievments}} <!--fernando-->
                            <li>
                                <button type="button" id="achievmentsButton" class="achievmentBoard button btn-social navbar-btn btn">
                                    <span class="badge {{NewAchievmentUnlocked}}">{{AchievementNotificationBody.number}}</span>
                                    <i class="fa {{PerfisTexts.ico}}" aria-hidden="true"></i>
                                    {{PerfisTexts.BtnAchievementBoard}}
                                </button>

                            </li>                 
                            {{/if}}

                            <li>
                                <button type="button" id="signUpButton" class="allItemsLink button btn-social navbar-btn btn">
                                    <i class="fa fa-line-chart" style="padding-right: 5px"> </i> Progresso
                                </button>
                            </li>
                            {{#if showProfile}}
                            <!--
                            <li >
                                <button type="button" class="button btn-social navbar-btn gamification btn"> 
                                  <i class="fa fa-cog"></i>
                                  Configurações
                                </button>
                            </li>
                            -->
                            {{/if}}
                            <li>
                                <button type="button" id="signUpButton" class="logoutLink button btn-social navbar-btn btn">
                                    <i class="fa fa-sign-out" style="padding-right: 5px"> </i>  Finalizar
                                </button>
                            </li>
                        </ul>
                        <div  class="clear-both"></div>
                    </div>
                </div>  <!-- close navbar-collapse -->
                <div class="col-xs-12">
                    <div class="col-xs-12 nav navbar-nav navbar-right scores ">

                        {{#if showScore}}
                        <div class="Painels">
                            <!--                            <s1 class="points">Pontuação:</s1>-->
                            <i class="fa fa-trophy" style="padding-right: 5px"> </i>
                            <span class="badge pointsTotal">{{currentScore}}</span>
                            <div  class="clear-both"></div>
                        </div>
                        {{/if}}

                        {{#if showLevel}}
                        <div class="Painels">
                            <s1 class="levelTotal">Nível:</s1>
                            <span class="levelTotal badge">{{level}}</span>
                            <div  class="clear-both"></div>
                        </div>
                        {{/if}}

                        {{#if showHealth}}
                        <div class="progress priority pbar">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                 role="progressbar"
                                 aria-valuenow={{userHealth}} aria-valuemin="0" aria-valuemax={{userMaxHealth}} style="width:{{userHealth}}%">
                                Energia: {{userHealth}}%
                            </div>
                            <div  class="clear-both"></div>
                        </div>
                        {{/if}}

                        <!-- <li><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Pratice</button></li>
                       <li>&nbsp;</li>
                       <li><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progress</button></li>
                       <li>&nbsp;</li>
                       <li><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Logout</button></li>
                        -->
                    </div>
                    <div  class="clear-both"></div>
                </div>
            </div> <!-- close container -->
        </nav>  <!-- close nav -->

        <div id="cardContainer" class="container card-container-main">
            <div class="col-sm-12 content">
                <!--{{#if showAdvancement}}-->
                <!--<div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">-->
                <!--{{else}}-->
                <!-- Substituir quando ranking for falso: -->
                <!--<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">-->
                <!--{{/if}}-->
                <!--Fernando class="col-xs-12 col-sm-4 col-md-8 col-lg-8 "-->

                <!--QUESTAO <div class={{DivPositionIfshowAdvancement}}>-->
                <div class="{{DivPositions.question}}">
                    <div class="scrollHistoryContainer">
                        {{#if haveScrollList}}
                        {{#each scrollList}}
                        <div class="row">
                            <div>
                                <!--class=" col-xs-12 col-sm-7 col-md-7 col-lg-7"  fernando  -->

                                <!--if not gamified -->

                                <!--  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">  Adjust -->

                                <div class="panel">
                                    <div class="panel-heading bg-primary">{{question}}</div>
                                    <div class="panel-body {{#if userCorrect}}bg-success{{/if}} {{#unless userCorrect}}bg-danger{{/unless}}">{{answer}}</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>

                    <div id="stimulusTarget">&nbsp;</div>

                    <!-- Progress bar while resuming -->
                    {{#if inResume}}
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 well-lg">
                            <br /><br />

                            {{#if gameOn}}
                            <h2>Sincronizando participantes... </h2>
                            {{else}}
                            <h2>Carregando...</h2>
                            {{/if}}
                            <!-- <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                    aria-valuemin="0" aria-valuemax="100"
                                    aria-valuenow="50" style="width: 50%; min-width: 2em;">
                                    <span id="resumeMsg">Working...</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    {{/if}}

                    {{#if gameOn}}
                    <div class="row hide-when-mobile" id="oz">
                        <div class="paired-friend">
                            <h4 class="PairedFriend"> Você está estudando com um parceiro:</h4>
                            <h4 class="PairedFriendID" title="para evitar constrangimentos a identidade dos usuários está preservada">{{fakeuser}}  </h4>
                        </div>
                    </div>
                    {{/if}}

                    {{#if trial}}
                    <div class="row PainelQuestion">
                        <!--<div class="col-xs-12 alert alert-info {{fontSizeClass}}" title="Dica: {{displayAnswer}}">-->
                        <div class="col-xs-12 alert alert-info {{fontSizeClass}}">
                            {{#if textOrClozeCard}}
                            {{{currentQuestion}}}
                            {{/if}}

                            {{#if audioCard}}
                            <img src="images/speaker.png" class="sound-img">
                            {{/if}}

                            {{#if imageCard}}
                            <img id="cardQuestionImg" src={{currentQuestion}}>
                            {{/if}}

                            {{#if videoCard}}
                            <video width="95%" autoplay>
                                <source src="{{currentQuestion}}">
                                Desculpe, seu browser não fornece suporte para a tag de vídeos.
                            </video>
                            {{/if}}
                        </div>
                    </div>  <!-- close row -->
                    {{/if}}

                    {{#if study}}
                    <div class="row PainelQuestion">
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 {{fontSizeClass}}">
                            {{#unless clozeCard}}
                            <p id="answerLabel" class="alert alert-info">{{displayAnswer}}</p>
                            {{/unless}}
                            <div>
                                {{#if skipstudy}}
                                <button type='button' id='continueStudy' name='continueStudy' class='btn btn-block btn-responsive'>Continuar</button>
                                {{/if}}
                            </div>
                        </div>  <!-- close column -->
                    </div>  <!-- close row -->
                    {{/if}}

                    {{#if testordrill}}
                    {{#unless buttonTrial}}
                    <!--<div class="row" id="textEntryRow">-->
                    <div  id="textEntryRow" class="row">
                        {{> inputF}}
                    </div>  <!-- close row -->
                    {{/unless}}

                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div id="multipleChoiceContainer">
                                <!-- will contain multiple choice buttons which are dynamically added. -->
                                {{#if buttonTrial}}
                                {{#each buttonList}}
                                <div><button type='button' name='{{buttonName}}' class='btn btn-block multipleChoiceButton btn-responsive'>
                                        {{buttonValue}}
                                    </button></div>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div> <!-- close row -->
                    {{/if}}

                    <div class="userInteractionContainer">
                        <div class="row">
                            <!--<div class="user-interaction-container-row col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 PositionUI {{showAdvancement}} {{DivPositions.userInteractionContainer}} {{fontSizeClass}}" id="UserInteraction" hidden></div>-->
                            <div class="user-interaction-container-row col-xs-12 PositionUI {{showAdvancement}} {{DivPositions.userInteractionContainer}} {{fontSizeClass}}" id="UserInteraction" hidden></div>
                        </div>
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 {{fontSizeClass}}" id="forceCorrectionEntry" hidden>-->
                            <div class="col-xs-12 {{fontSizeClass}}" id="forceCorrectionEntry" hidden>
                                {{> inputForceCorrect}}
                            </div>
                        </div>
                    </div>

                    {{#if isInRole 'teacher'}}
                    <div class="row">
                        <div class="col-lg-12 visible-text text-center">
                            {{#if displayAnswer}}<h5>Ajuda ao Professor (Resposta): {{displayAnswer}}</h5>{{/if}}
                            {{#if currentProgress}}<h5>Progresso atual: {{currentProgress}}</h5>{{/if}}
                            {{#if rawAnswer}}<h5>Ajuda ao Professor (Texto de Resposta Padrão): {{rawAnswer}}</h5>{{/if}}
                        </div>
                    </div>
                    {{/if}}

                    <div class="row">
                        <div hidden  class="col-lg-offset-2 col-lg-5" style="text-align: center;" id="overlearningRow">
                            <!-- <h4 style=" color: #585858;">You are currently overlearning!  Please consider taking a break and coming back later.</h4>-->
                            <h4 style=" color: #585858;">Você parece estar se esforçando muito!  Por favor, considere descansar um pouco e retornar mais tarde.</h4>
                            <button id="overlearningButton" type="button" class="btn btn-responsive" style="width: auto;">Praticar</button>
                        </div>
                    </div>

                    <div id="feedbackTarget">&nbsp;</div>

                    <!-- Modal -->
                    <div class="modal fade" id="finalInstructionsDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header visible-text">
                                    <button type="button" class="close instructModalDismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Good Bye</h4>
                                </div>
                                <div class="modal-body visible-text">
                                    <div id="finalInstructionsText"></div>
                                </div>
                                <div class="modal-footer visible-text">
                                    <button type="button" class="btn btn-default btn-responsive instructModalDismiss" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- close container -->

                {{#if inResume}} <!-- Fernando: Gamification Leaderborad / performance feature-->
                {{else}}
                <!-- Adjust -->
                <!-- {{> leaderBoard}} {{> stats }}-->
                {{#if showAdvancement }}
                
                    
                <!--Esse cara que perdeu a largura Dani-->
                <div class="col-sm-4 col-sm-offset-1 DivPai">
                    {{> advancment}}
                </div>
                
                {{/if}}
                {{/if}}
            </div>
        </div>

        <div id="postCardContainer"></div>

        <!-- Use a fixed footer if we have something to show -->
        {{#if haveDispTimeout}}
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-header" style="width:100%">
                    <ul class="nav nav-justified">
                        <li>&nbsp;</li>
                        <li>
                            <button type="button" id="continueButton" class="button btn navbar-btn text-center" style="text-align:center; white-space:nowrap;">
                                Continuar
                                <span id="displayTimeoutMsg"></span>
                            </button>
                        </li>
                        <li>&nbsp;</li>
                    </ul>
                </div>  <!-- close header -->
            </div>  <!-- close container -->
        </nav>  <!-- close nav -->
        {{/if}}

        {{> footer}}
    </div>
</template>

<!--
<div class="container">
  <h2>Progress Bar With Label</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:50%">
      50%
    </div>
  </div>
</div>-->
