<template name="choose">
    <div class="page-navbar-default-screen" id="mainDiv">
    {{> navBar}}

    <div class="container">
        <legend class="text-center">Selecione Um Sistema</legend>
        <div class="row" id="chooseButtonContainer">
            <a href="#" class="btn btn-info studentButton" role="button">Todos os Estudantes</a>
            <br><br>
            <a href="#" class="btn btn-info itemsButton" role="button">Todos os Itens</a>
        </div>
    </div>
    </div>
    {{> footer}}
</template>
