<template name="footer">
   {{#if gamified}} <!-- Notice that this should be embedded in a bootstrap container div -->
    <footer>        
        <img src="images/background.png"  width="auto" alt="Clip-two">
        <!--<img src="images/background.png" style="max-height:200px; width:auto;min-width:auto;max-width:100%;" width="auto" alt="Clip-two">-->
    </footer>
   {{/if}}
</template>
