<template name="instructions">  

<div class="page-navbar-instruction" id="mainDiv">
    {{> navBar}}
    <div class="container">
        <div class="row">
            {{#if backgroundImage}}
            <div class="col-lg-12">
                <img src="{{backgroundImage}}">
            </div>
            {{/if}}
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="body">
                    {{{instructions}}}
                </div>

                <br>
                <div class="form-group">
                    {{#if islockout}}
                        <div id="lockoutDisplay" class="visible-text">
                            <!--<h3 id="lockoutMessage">
                                The rest of the content has been locked until a
                                certain amount of time has elapsed.
                            </h3>-->
                            <h3 id="lockoutMessage">
                                O restante do conteúdo está bloqueado por um 
                                certo tempo.
                            </h3>
                            <h2 id="lockoutTimeRemaining">&nbsp;</h2>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <!-- Use a fixed footer if we have something to show -->
    {{#if allowcontinue}}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <ul class="nav nav-justified">
                    <li>&nbsp;</li>
                    <li class="text-center">
                        <button type="button" id="continueButton" class="button btn navbar-btn text-center" style="text-align:center; white-space: nowrap;">
                            Continuar
                            <span id="displayTimeoutMsg"></span>
                        </button>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>  <!-- close header -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->
    {{/if}}
    </div>
    {{> footer}}
</template>
