<template name="navBar">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <!--                        
            <div class="navbar-header logo">
                <div class="col-md-1 ">
                    <a class="navbar-brand homeLink "  href="#">MoFaCTS</a>
                </div>

                                {{#if isInRole 'admin,teacher'}}
                                {{#if isInRole 'admin'}} <a class="navbar-brand" href="#">&nbsp;Administrator </a>{{/if}}
                                     {{#if isInRole 'teacher'}} <a class="navbar-brand" href="#">&nbsp;Teacher </a>{{/if}}

                                {{#if isInRole 'admin'}} <a class="navbar-brand title" href="#">&nbsp;Admin. </a>{{/if}}
                                {{#if isInRole 'teacher'}} <a class="navbar-brand title" href="#">&nbsp;Professor </a>{{/if}}
                                {{else}}
                                <a class="navbar-brand title" href="#">&nbsp;Estudante</a>
                                {{/if}}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                    
                    <span class="sr-only">Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 

                </button>

            </div>   close header 
            -->

            <!--Little Button - Botãozinho-->
            <div class="navbar-header logo">
                <div class="row">
                    <div class="col-xs-8 col-md-1">
                        <a class="navbar-brand homeLink " href="#">MoFaCTS</a>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true" style="right: 10px;">                    
                            <span class="sr-only">Navegação</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>	        
                    </div>
                </div>
            </div>

            <!--Buttons - Botões-->
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="nav navbar-nav navbar-right" style="margin-right: 0;">

                    <ul class="nav navbar-nav navbar-left menu-buttons version-2">
                        <li>
                            <button type="button" id="signInButton" class="homeLink button btn-social navbar-btn btn">
                                <i class="fa fa-money" style="padding-right: 5px"> </i>  Praticar
                            </button>
                        </li>


                        {{#if gamified}}
                        <li>
                            <button type="button" id="signInButton" class="studyLink button btn-social navbar-btn btn">
                                <i class="fa fa-book" style="padding-right: 5px"> </i> Referência
                            </button>
                        </li>
                        {{/if}}
                        {{#if showAchievments}} <!--fernando-->
                        <li>
                            <button type="button" id="achievmentsButton" class="achievmentBoard button btn-social navbar-btn btn">
                                <span class="badge {{NewAchievmentUnlocked}}">{{AchievementNotificationBody.number}}</span>
                                <i class="fa {{PerfisTexts.ico}}" aria-hidden="true"></i>
                                {{PerfisTexts.BtnAchievementBoard}}
                            </button>

                        </li>                 
                        {{/if}}

                        <li>
                            <button type="button" id="signUpButton" class="allItemsLink button btn-social navbar-btn btn">
                                <i class="fa fa-line-chart" style="padding-right: 5px"> </i> Progresso
                            </button>
                        </li>
                        {{#if showProfile}}
                        <!--
                        <li >
                            <button type="button" class="button btn-social navbar-btn gamification btn"> 
                              <i class="fa fa-cog"></i>
                              Configurações
                            </button>
                        </li>
                        -->
                        {{/if}}
                        <li>
                            <button type="button" id="signUpButton" class="logoutLink button btn-social navbar-btn btn">
                                <i class="fa fa-sign-out" style="padding-right: 5px"> </i>  Finalizar
                            </button>
                        </li>
                    </ul>
                </div>
            </div>  <!-- close navbar-collapse -->
            <div class="col-xs-12 ">
                <div class="nav navbar-nav navbar-right scores ">
                    {{#if showScore}}
                    <div class="Painels">
                        <i class="fa fa-usd" style="padding-right: 5px"> </i>
                        <!--<s1 class="pointsTotal">Pontuação:</s1>-->
                        <span class="badge pointsTotal">{{totalPoints}}</span>
                    </div>
                    {{/if}}
                    {{#if showLevel}}

                    <div class="Painels">
                        <s1 class="levelTotal">Nível Geral:</s1>
                        <span class="levelTotal badge">{{level}}</span>
                    </div>                 

                    {{/if}}

                    <!-- <li><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Pratice</button></li>
                   <li>&nbsp;</li>
                   <li><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progress</button></li>
                   <li>&nbsp;</li>
                   <li><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Logout</button></li>
                    -->
                </div>
            </div>
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

</template>
<!--
<template name="navBarCard">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
<!--<span class="sr-only">Toggle navigation</span> ->
<span class="sr-only">Navegação</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand homeLink" href="#">MoFaCTS</a>
</div>  <!-- close header ->

<div class="nav navbar-nav navbar-right">

<TABLE BORDER="0">
{{#if showScore}}
<td><s1>Level na disciplina:</s1>&nbsp;<span class="badge">{{level}}</span></td>                 
<td>&nbsp;</td><td>&nbsp;</td>{{else}}
<td>&nbsp;</td>
{{/if}}
{{#if showLevel}}
<td><s1>Pontuação:</s1>&nbsp;<span class="badge">{{currentScore}}</span></td>                 
<td>&nbsp;</td>{{else}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
<td style="line-height:50px;"><s1>{{username}}</s1></td>
<td>&nbsp;</td>    <td>&nbsp;</td>
{{#if isNormal}}
<!-- <td><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Pratice</button></td>
    <td>&nbsp;</td>
    <td><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progress</button></td>
    <td>&nbsp;</td>
    <td><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Logout</button></td>
->
<td><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Praticar</button></td>
<td>&nbsp;</td>
<td><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progresso</button></td>
<td>&nbsp;</td>
<td><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Sair</button></td>
{{/if}}
</table>

</div>  <!-- close navbar-collapse ->
</div>  <!-- close container ->
</nav>  <!-- close nav ->

</template> -->