<!-- MAIN profile template -->
<template name="profile">
    <div class={{cssIfIsAdmin}}>
        {{> navBar}}

        <div class="container">
            {{#if needProfile}}
            {{> needGamification}}
            {{/if}}

            {{#unless isInRole 'admin,teacher'}}
            <br>
                {{#unless needProfile}}
                    <!--{{> Explanation}}-->

                    <div class="row" id="testButtonContainer">
                        <legend class="text-center">
                            <!--Pratice modules:-->
                            Praticar módulos: 
                        </legend>
                        {{#if showGameOn}}
                        <div class="game-on-opt-main">
                            <div class="GameOnOpt checkbox" title="Nesse modo vocês só ganham pontos quando os dois acertam a questão">
                                <input type="checkbox" class="switchGameOn" name="switchGameOn" id="checkboxGameOn" checked={{gameOn}}>
                                Gostaria de praticar com um parceiro?
                                <!--<p class="hide-when-mobile"> Nesse modo vocês só ganham pontos quando os dois acertam a questão </p>-->
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{>Glossary}}
                {{/unless}}
            {{/unless}}

            {{#if isInRole 'admin,teacher'}}
            {{> turkWorkflow}}
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#testButtonContainer" aria-expanded="false" aria-controls="testButtonContainer">
                        <!--TDF Practice -->
                        Conteúdos disponíveis
                    </button>
                </div>
            </div>
            <div class="row collapse" id="testButtonContainer">
                <legend class="text-center">
                    <!--Pratice modules:-->
                    Praticar módulos:
                    <br>

                    <input type="checkbox" name="simulation" id="simulation" checked={{simulationChecked}}> Simulate if TDF param present?
                </legend>
                {{#if showGameOn}}
                <div class="game-on-opt-main">
                    <div class="GameOnOpt checkbox" title="Nesse modo vocês só ganham pontos quando os dois acertam a questão">
                        <input type="checkbox" class="switchGameOn" name="switchGameOn" id="checkboxGameOn" checked={{gameOn}}> Gostaria de estudar com um parceiro?
                        <!--<p class="title"> Nesse modo vocês só ganham pontos quando os dois acertam a questão </p>-->
                    </div>
                </div>
                {{/if}}
            </div>

            {{> contentUpload}} 


            {{> userProfileEdit}}
            {{#if isInRole 'admin'}}
            {{> userAdmin}}
            {{/if}}
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" class="btn btn-primary gamification"> Gamification Test Config</button>
                </div>
            </div>

            {{/if}}


            <br><br>


            <!--{{> about}}-->
        </div>
    </div>
    {{> footer}}
</template>
