<template name="signIn">
<div class="sign-in-o-auth-screen">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
<!--                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                    {{#if isNormal}}
                <a class="navbar-brand" href="#">MoFaCTS</a>
                {{else}}
                <a class="navbar-brand" href="#">MoFaCTS Experiment</a>
                {{/if}}
            </div>   <!-- close header -->
           
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#if isNormal}}
                    <li><button type="button" id="signUpButton" class="btn  navbar-btn">Sign Up</button></li>
                    {{/if}}
                </ul>
            </div><!--   close navbar-collapse--> 
        </div>   <!--close container -->
    </nav>   <!--close nav-->
<!--    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#if isNormal}}
                <a class="navbar-brand" href="#">MoFaCTS</a>
                {{else}}
                <a class="navbar-brand" href="#">MoFaCTS Experiment</a>
                {{/if}}
            </div>   close header 
           
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#if isNormal}}
                    <li><button type="button" id="signUpButton" class="btn  navbar-btn">Sign Up</button></li>
                    {{/if}}
                </ul>
            </div>   close navbar-collapse 
        </div>   close container 
    </nav>   close nav -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <legend>Entrar</legend>
                <!--<legend>Sign In</legend>-->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4">
                {{#if isExperiment}}
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Entre com seu email, Amazon TURK ID ou ID de estudante">
                    <!--<input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Your Amazon TURK ID or Assigned Student ID">-->
                </div>
                {{else}}
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Username">
                    <span class="help-inline danger errcheck" id="invalidLogin" hidden >Username password pair not found!</span>
                </div>
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="password" id="password" value="" placeholder="Password">
                </div>
                {{/if}}

                <div class="form-group">
                    <button type="button" id="signInButton" class="btn btn-primary btn-social">Entrar</button>
                    <!--<button type="button" id="signInButton" class="btn ">Sign In</button>-->
                    <span class="help-inline danger errcheck" id="serverErrors" hidden ></span>
                </div>
            </div>
        </div>

        {{#if isNormal}}
            {{> about}}
        {{/if}}
    </div>
</div>
    {{>footer}}
</template>
