<template name="signInOauth">
    
    <div class="sign-in-o-auth-screen">
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                    <a class="navbar-brand" href="#">
                         MoFaCTS <s1 class="hide-when-mobile">- Aprendendo Fatos e Conceitos</s1>
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">
            <br />

            <div class="row">
                
                <div class="{{cssShowTest}}" >
                    <div class="form-group">
                        <div>
                            <label for="signInButton">Entrar usando:</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6 margin-bottom-10">
                                <a class="btn btn-primary btn-social" id="signInButton" href="#">
                                    <!--<img src="images/google-32px.png">-->
                                    <img src="images/google32.png">
                                    <span>&nbsp;Google</span>
                                </a>
                            </div>
                            <div class="col-md-6 margin-bottom-10">
                                <!--<label for="signInButtonFacebook"></label>-->
                                <a class="btn btn-primary btn-social" id="signInButtonFacebook" href="#">
                                    <!--<img class="icon" style="width:10%;height:auto; max-width: 32px" src="images/flogo.png">-->
                                    <img class="icon"  src="images/fb32.png">
                                    <span>&nbsp;Facebook</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {{#if showTestLogin}}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="testUsername">Email</label>
                            <input class="form-control" type="email" id="testUsername" value="" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-default btn-danger" id="testSignInButton" href="#">
                                 Logar sem autenticação
                            </a>
                        </div>
                        <br>
                    </div>
                {{/if}}
            </div>
            {{>Explanation}}    
            {{> about}}
        </div>
    </div>
          {{>footer}}
</template>