<template name="signUp">
    <div class="sign-in-o-auth-screen">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        MoFaCTS <s1 class="hide-when-mobile">- Aprendendo Fatos e Conceitos</s1>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" id="signInButton" class="btn  navbar-btn">Sign In</button>
                    </ul>
                </div>  <!-- close navbar-collapse -->
            </div>
        </nav>
<!--        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MoFaCTS</a>

                </div>   close header 

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" id="signInButton" class="btn  navbar-btn">Sign In</button>
                    </ul>
                </div>   close navbar-collapse 
            </div>   close container 
        </nav>   close nav -->

        <div class="container">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                    <legend>Sign Up</legend>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-1 col-xs-6 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2">
                    <div class="form-group">
                        <input class="form-control" type="text" id="signUpUsername" value="" placeholder="Username">
                        <span class="help-inline danger errcheck" id="usernameTooShort" hidden >Must be at least 6 characters long!</span>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" id="password1" value="" placeholder="Password">
                        <span class="help-inline danger errcheck" id="passwordTooShort" hidden >Must be at least 6 characters long!</span>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" id="password2" value="" placeholder="Re-Type Password">
                        <span class="help-inline danger errcheck" id="passwordMustMatch" hidden >Password fields must match!</span>
                    </div>

                    <div class="form-group">
                        <!--<button type="button" id="signUpButton" class="btn ">Sign Up</button>-->
                        <button type="button" id="signUpButton" class="btn btn-primary btn-social">Entrar</button>
                        <span class="help-inline danger errcheck" id="serverErrors" hidden ></span>
                    </div>
                    <br>
                </div>
            </div>

            {{> about}}
        </div>
    </div>
        {{>footer}}
</template>
