<template name="student">
   <div class="page-navbar-default-screen" id="mainDiv">
    {{> navBar}}

   <div class="container">
      <div class="titleContainer" style="display:block">
         <div class="title toggled displayed" id="reptitionLatencyTitle">
            <!--<legend class="text-center">Latency / Reptition</legend>-->
            <legend class="text-center">Latência / Repetição</legend>
         </div>
         <div class="title toggled" id="reptitionCorrectnessTitle">
            <!--<legend class="text-center">Correctness / Reptition</legend>-->
            <legend class="text-center">Acuidade / Repetição</legend>
         </div>
         <div class="wrapper  col-sm-offset-4 col-sm-4" style="text-align:center">
             <input type="submit" class="btn switchButton" value="Alternar Gráfico"> <!--value="Change Graph"> --> 
         </div>
         <br>
      </div>
      <div class="graphs">
          <!--
         <div class="ct-chart .ct-major-twelfth show-axis toggled displayed" data-x-axis="Repetition" data-y-axis="Latency (ms)" id="reptitionLatency"></div>
         <div class="ct-chart .ct-major-twelfth show-axis toggled" data-x-axis="Repetition" data-y-axis="Correctness (%)" id="reptitionCorrectness"></div> -->
          <div class="ct-chart .ct-major-twelfth show-axis toggled displayed" data-x-axis="Repetição" data-y-axis="Latência (ms)" id="reptitionLatency"></div>
         <div class="ct-chart .ct-major-twelfth show-axis toggled" data-x-axis="Repetição" data-y-axis="Acuidade (%)" id="reptitionCorrectness"></div>
      </div>
      <div class="legend" style="padding-bottom: 5%;">
         {{#if isInRole 'admin,teacher'}}
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#0087BD;stroke-width:5" />
           <!-- Sorry, your browser does not support inline SVG. -->
           Desculpe, seu browser parece não suportar  SVG em linha.
         </svg> - <b>Class</b>
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#C40233;stroke-width:5" />
            Desculpe, seu browser parece não suportar  SVG em linha.
         </svg> - <b>{{selectedUsername}}</b>
         {{else}}
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#C40233;stroke-width:5" />
            Desculpe, seu browser parece não suportar  SVG em linha.
         </svg> - <b>{{selectedUsername}}</b>
         {{/if}}
      </div>
   </div>
     <div class="container">
         <div>
             <table class="table table-bordered">
                 <thead>
                     <tr>
                         <th><!--Item Name-->Nome do Item</th>
                         <th><!--Correctness Ratio-->Coeficiênte de Acuidade</th>
                         <th><!--Average Latency-->Latência Média</th>
                         <th><!--Repetitions-->Repetições</th>
                     </tr>
                 </thead>
                 <tbody>
                     {{#each item in itemData}}
                     <tr>
                         <td>{{item.name}}</td>
                         <td class="numeric-cell">{{item.correctRatio}}</td>
                         <td class="numeric-cell">{{item.avgLatency}}ms</td>
                         <td class="numeric-cell">{{item.repetitions}}</td>
                     </tr>
                     {{/each}}
                 </tbody>
             </table>
         </div>
     </div>
   </div>
    {{> footer}}

</template>
