<!-- User Profile (AWS) editing template -->

<template name="userProfileEdit">
    <br><br>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#userProfileAWSData" aria-expanded="false" aria-controls="userProfileAWSData">
                AWS User Profile Data
            </button>
        </div>
    </div>

    <div class="row collapse" id="userProfileAWSData">
        <div class="col-md-offset-3 col-md-6 form-horizontal" id="profileContainer">
            <legend class="text-center">Dados do Perfil</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="profileAWSID">AWS ID</label>
                <div class="col-md-8">
                    <input type="text"
                        id="profileAWSID" name="profileAWSID"
                        class="form-control clearOnSave"
                        maxlength="40"
                        placeholder="{{#if have_aws_id}}Overwrite{{else}}Enter{{/if}} your AWS ID"
                    >
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="profileAWSSecret">AWS Secret Key</label>
                <div class="col-md-8">
                    <input type="password"
                        id="profileAWSSecret" name="profileAWSSecret"
                        class="form-control clearOnSave"
                        maxlength="60"
                        placeholder="{{#if have_aws_secret}}Overwrite{{else}}Enter{{/if}} your AWS Secret Key"
                    >
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="profileUseSandbox">Use Sandbox</label>
                <div class="col-md-8">
                    <input type="checkbox" id="profileUseSandbox" name="profileUseSandbox" checked={{use_sandbox}}>
                    <button type='button' id='saveProfile' class='btn btn-fix'>
                        Save Dados Perfil
                    </button>
                    <br>
                    <small>(Your AWS credentials are never shown)</small>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#userProfileDataDownload" aria-expanded="false" aria-controls="userProfileDataDownload">
                Download Log de Dados do Usuario
            </button>
        </div>
    </div>

    <div class="row collapse" id="userProfileDataDownload">
        <div class="col-md-12" id="downloadContainer">
            <legend class="text-center">Downloads dos dados</legend>
            <div id="expDataDownloadContainer"></div>
        </div>
    </div>

    <div class="modal fade" id="profileWorkModal" tabindex="-1" role="dialog" aria-labelledby="profileWorkModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="profileWorkModalLabel">Por favor aguarde...</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <img src="/styles/mofacts_waiting.gif" class="img-responsive pull-left"/>
                        <p class="pull-right">Por favor aguarde enquanto salvamos suas informações e contatamos o Mechanical Turk.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
