<!-- User Administration Template -->

<template name="userAdmin">
{{#if isInRole 'admin'}}

    <br><br>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#userAdminCollapse" aria-expanded="false" aria-controls="userAdminCollapse">
                User Admin
            </button>
        </div>
    </div>

    <div class="row collapse" id="userAdminCollapse">
        <div class="col-md-12">
            <h3>User Administration</h3>

            <table class="table table-striped table-bordered table-condensed user-admin-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Admin?</th>
                        <th>Teacher?</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userRoleEditList}}
                    <tr>
                        <td>{{username}}</td>

                        <td>
                            {{#if admin}}
                                <span class="glyphicon glyphicon-ok"></span>
                                Yes
                                <button type="button"
                                    class="btn btn-fix btn-primary btn-xs btn-user-change"
                                    data-userid="{{_id}}"
                                    data-rolename="admin"
                                    data-roleaction="remove"
                                ><span class="glyphicon glyphicon-minus"></span> Remove from Admins
                                </button>
                            {{else}}
                                <span class="glyphicon glyphicon-remove"></span>
                                No
                                <button type="button"
                                    class="btn btn-fix btn-danger btn-xs btn-user-change"
                                    data-userid="{{_id}}"
                                    data-rolename="admin"
                                    data-roleaction="add"
                                ><span class="glyphicon glyphicon-plus"></span> Add to Admins
                                </button>
                            {{/if}}
                        </td>

                        <td>
                            {{#if teacher}}
                                <span class="glyphicon glyphicon-ok"></span>
                                Yes
                                <button type="button"
                                    class="btn btn-fix btn-primary btn-xs btn-user-change"
                                    data-userid="{{_id}}"
                                    data-rolename="teacher"
                                    data-roleaction="remove"
                                ><span class="glyphicon glyphicon-minus"></span> Remove from Teachers
                                </button>
                            {{else}}
                                <span class="glyphicon glyphicon-remove"></span>
                                No
                                <button type="button"
                                    class="btn btn-fix btn-danger btn-xs btn-user-change"
                                    data-userid="{{_id}}"
                                    data-rolename="teacher"
                                    data-roleaction="add"
                                ><span class="glyphicon glyphicon-plus"></span> Add to Teachers
                                </button>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="userAdminModal" tabindex="-1" role="dialog" aria-labelledby="userAdminModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="userAdminModalLabel">Please Wait</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <img src="/styles/mofacts_waiting.gif" class="img-responsive pull-left"/>
                        <p class="pull-right">Please wait while your request is processed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/if}}
</template>
