.dropdown-menu {
    background-color: #000000;
    color: white;
}

.dropdown-menu > li > a:focus {
    background-color: #000000;
    color: white;
}

.dropdown-menu > li > a {
    color: white;
    background-color: #000000;

}

.dropdown-menu > li {
    color: white;
    background-color: #000000;

    border-color: black;
}

.dropdown-menu body {
    color: white;
    background-color: #000000;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background-color: #000000;

}
