.paired-friend {
    border-radius: 5px;
    background: #f0ad4e;
    position: absolute;
    /*margin-left: 6%;*/
    top: -11px;
    border: 0;
}

.paired-friend h4 {
    display: inline-flex;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    margin: 3px;
}

.PairedFriendID {
    font-weight: bold;
}
div#DivWaitingMsg h3 {
    border: 1px solid;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
    font-weight: 700;
}
