<!-- MAIN profile template -->
<template name="Explanation">
    <div class="row">
        <div class="well well-lg col-md-offset-2 col-md-9 ">
            <strong>
                <center> <h4 style="color:red">Como Funciona:</h4></center>
            <p> Aprender utilizando o MoFaCTS é fácil.</p>
            <p> Após selecionar o tópico do seu interesse será apresentado uma informação e abaixo dela um espaço para você responder o que ela significa.  </p>
            <p> O objetivo é memorizar as informações através da repetição.</p>
            </strong>
            <!--<p> Quando estamos aprendendo um novo conceito o melhor jeito é através da tentativa e erro então fique a vontade</p>-->
            <h4> <strong>Dicas:</strong> </h4>
            <h4> ¹Ao clicar na pergunta, o sistema exibe uma dica para a questão. </h4>
            <h4> ²Você pode ir na seção Estudar e consultar o conteúdo completo dos módulos.   </h4>
            
            <h4> <strong>Recomendação:</strong> se você está iniciando seu aprendizado começe pelo <strong>Alfabeto Katakana e Alfabeto Hiragana</strong>. </h4>
            <h5> <strong>Alfabeto Hiragana</strong>: Utilizado para a leitura e escrita de palavras de origem Japonesa </h5>
            <h5> <strong>Alfabeto Katakana</strong>: Utilizado para a leitura e escrita de palavras de origem estrangeira </h5>
            <br>
            <h4><strong>O sistema utiliza elementos de jogos personalizado e por isso, precisará que você responda um questionário antes de iniciar para conhecer o seu perfil</strong></h4>
<!--            <strong>
            <button type="button" id="signInButton" class="studyLink button btn-social navbar-btn btn">
                                <i class="fa fa-book" style="padding-right: 5px"> </i> Referência
                            </button>
                
            <center><p style="text-align: left">Bons estudos</p></center>
            </strong>-->
            
        </div>
    </div>
</template>
