<!-- MAIN profile template -->
<template name="Glossary">
    <div class="row">
        <div class="well well-lg col-md-offset-2 col-md-9 ">                        
            <h4> <strong>Glossário:</strong></h4>
            <h5> <strong>Alfabeto Hiragana</strong>: Utilizado para a leitura e escrita de palavras de origem Japonesa </h5>
            <h5> <strong>Alfabeto Katakana</strong>: Utilizado para a leitura e escrita de palavras de origem estrangeira </h5>            
            <h5> <strong>Furigana</strong>: Palavras escritas utilizando Hiragana ou Katakana </h5>
            <h5> <strong>Romaji</strong>: Palavras escritas utilizando alfabeto Romano (ocidental) </h5>
            <h5> <strong>Kanji</strong>: Ideogramas que possuem o significado de uma palavra completa </h5>
            <h5> <strong>Kana</strong>: Outra forma de se referir aos ideogramas do Hiragana ou Katakana </h5>
        </div>
    </div>
</template>
