<!-- MAIN profile template -->
<template name="needGamification">
    <div class="row">
        <div class="well well-lg col-md-offset-2 col-md-9 ">
            <strong> <center> <h2 style="color:red">Por favor, complete o seu perfil. </h2></center>
             <p>  Algumas características do sistema dependem de conhecermos você um pouco melhor então, </p>
             <p>  para que possamos terminar de configurar o sistema por completo, por favor, responda o questionário clicando no botão abaixo, informando o mesmo email que você usará para acessar o MoFaCTS.</p>
             <br><br>
             <center> <a href="http://questionario.caed-lab.com/index.php?codgrp=MOFACTS" class="btn btn-lg btn-danger questionarioLink" role="button">Questionário de Perfil</a> </center>             
             <br><br>
            <p> Caso já tenha respondido o questionário e ainda esteja vendo essa mensagem por favor entre em contato com o administrador do sistema. </p>                                        
            <center><p> Email para contato: <mark>fernando.heb@gmail.com</mark> </p></center>
            <p> Obrigado pela colaboração, dúvidas e sugestões também serão bem vindas. </p></strong>
            
        </div>
    </div>
</template>
